h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

.md-version-badge {
  position: absolute;
  top: 50%;
  right: 4.8rem;
  transform: translateY(-50%);
  font-size: .7rem;
  font-weight: 700;
  color: hsla(0, 0%, 100%, .6);
  font-family: 'Cinzel', serif;
  letter-spacing: .1em;
  white-space: nowrap;
  z-index: 3;
  pointer-events: none;
}
