h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

.md-version-badge {
  display: flex;
  align-items: center;
  padding: 0 .8rem;
  font-size: .7rem;
  font-weight: 700;
  color: hsla(0, 0%, 100%, .6);
  font-family: 'Cinzel', serif;
  letter-spacing: .1em;
  white-space: nowrap;
}
